# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Logs
*.log


# Office temp/lock files
~
# macOS metadata
.DS_Store

# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.nb.html
*.Rproj
.DS_Store
~
~.docx
