# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Logs
*.log


# Office temp/lock files
~
# macOS metadata
.DS_Store

# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
~
~.docx
~.docx
~.docx
~.xlsx
~.pptx
Downloads/
# Ignore all knitted or rendered HTML outputs
*.html
*.nb.html

# But allow HTMLs that are intentionally published via GitHub Pages
!docs/**/*.html
!docs/**/*.nb.html

# Ignore specific R coursework HTML files (keep local only)
Module02-CANM7030-and-CANM7130-R-and-Python-Programming-in-Biomedical-Research/notebooks/R/**/*.nb.html

